.card {
  width: 52rem;
  aspect-ratio: 3/4;
  border-radius: 2rem;
  background: var(--gradient2);
  padding: 1rem;
  border: 1px solid var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

.title {
  font-weight: 400;
  color: var(--0);
  font-size: 3.6rem;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.btn {
  width: 45rem;
  height: 3rem;
  background: var(--gradient5);
  border-radius: 10rem;
  background-color: transparent;
  backdrop-filter: opacity(70);
  border: none;
  border-radius: 10rem;
  cursor: pointer;
  font-size: 2rem;
}

.btn:hover {
  background: var(--gradient1) !important;
}
