:root {
  /* colors */
  --dark-blue: #011627;
  --red: #ff0022;
  --cyan: #41ead4;
  --white: #fdfffc;
  --purple: #b91372;

  /* gradients */
  --gradient1: linear-gradient(100.96deg, #ff0022 0%, #b91372 100%);
  --gradient2: linear-gradient(
    331.09deg,
    rgba(253, 255, 252, 0.8) 0%,
    rgba(253, 255, 252, 0.5) 75.19%
  );
  --gradient3: linear-gradient(331.09deg, #8c8589 0%, #ffffff 100%);
  --gradient4: linear-gradient(101.81deg, #ad5389 8.64%, #3c1053 100%);

  /* filters */
  --black-to-cyan: invert(86%) sepia(33%) saturate(855%) hue-rotate(105deg)
    brightness(98%) contrast(87%);
  --black-to-dark-blue: invert(5%) sepia(94%) saturate(1511%) hue-rotate(188deg)
    brightness(102%) contrast(99%);
}
