.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.bar {
  width: 45rem;
  height: 4rem;
  background: var(--gradient2);
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: 1px solid var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}

.copy {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copied {
  background-color: var(--cyan);
  width: 30rem;
  height: 5rem;
  padding: 1rem 2rem;
  position: absolute;
  top: -7rem;
  text-align: center;
  border-radius: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 700;
  font-size: 1.5rem;
}

.copy span {
  color: var(--purple);
  font-weight: 500;
  transition: 0.2s ease;
  cursor: pointer;
}

.copy:hover span {
  color: var(--cyan);
}

.copied:after {
  content: '';
  width: 0;
  height: 0.2rem;
  background-color: var(--white);
  position: absolute;
  z-index: 1;
  bottom: 0.2rem;
  border-radius: 1rem;
  animation: grow 2s 0.3s;
}

@keyframes grow {
  from {
    width: 0;
  }
  to {
    width: 8rem;
  }
}
