.btn {
  width: 45rem;
  height: 3rem;
  background: var(--gradient5);
  border-radius: 10rem;
  background-color: transparent;
  backdrop-filter: opacity(70);
  border: none;
  border-radius: 10rem;
  cursor: pointer;
  font-size: 2rem;
}
